Repository DathaPlus/landing-tribologyec: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --list-different

.lintstagedrc:

{
  "./src/**/*.{ts,js,json,yml,yaml}": ["eslint --fix", "prettier --write"],
  "*.md": "prettier --list-different"
}

minor changes
  package-lock.json
Due: none

add links to footer.tsx
  package-lock.json
  src/components/footer.tsx
Due: none

add links to footer.tsx
  package-lock.json
Due: none

delete lambdas edges
  sst.config.ts
Due: none

delete lambdas edges
  .github/workflows/deploy_prod.yml
  package-lock.json
  sst.config.ts
  yarn.lock
Due: none

update package-lock.json
  .github/workflows/deploy_prod.yml
  package-lock.json
  package.json
  yarn.lock
Due: none

update package-lock.json
  package-lock.json
  package.json
  sst.config.ts
  yarn.lock
Due: none

delete custom domain in sst.config.ts
  sst.config.ts
Due: none

Page aboutus
  package-lock.json
  public/img/icons/white-outlined-hands.svg
  public/img/icons/white-outlined-pointer.svg
  public/img/icons/white-outlined-stars.svg
  src/app/nosotros/page.tsx
  src/components/aboutus/carousel/index.tsx
  src/components/aboutus/hero.tsx
  src/components/aboutus/index.ts
  src/components/aboutus/knowus/index.tsx
  src/components/aboutus/products/card.tsx
  src/components/aboutus/products/index.tsx
  src/components/aboutus/solutionsCenter/index.tsx
  src/components/cards/aboutusCard.tsx
  src/components/cards/index.ts
  src/helpers/aboutus/aboutusCards.ts
  src/helpers/aboutus/index.ts
  src/interfaces/cards/IAboutusCard.ts
  src/sass/components/aboutus/_carousel.scss
  src/sass/components/aboutus/_index.scss
  src/sass/components/aboutus/_solutions_center_knowus.scss
Due: eslint --fix, prettier --write

Fix Page Aboutus
  src/app/nosotros/page.tsx
  src/components/aboutus/carousel/index.tsx
  src/components/aboutus/index.ts
  src/components/aboutus/knowus/index.tsx
  src/components/cards/aboutusCard.tsx
  src/components/common/index.ts
  src/components/common/solutionsCenter/index.tsx
  src/components/index.ts
  src/components/services/hero.tsx
  src/data/nosotros/index.tsx
  src/interfaces/app/IAboutusPage.ts
  src/interfaces/cards/IAboutusCard.ts
  src/interfaces/common/ISolutionsCenter.ts
  src/sass/components/aboutus/_index.scss
  src/sass/components/common/_solutions_center.scss
  src/sass/components/common/index.scss
  src/sass/components/services/_index.scss
  src/sass/components/services/_solutions_center.scss
  tsconfig.json
Due: eslint --fix, prettier --write

eliminacion npmrc
  .npmrc
Due: none

update
  .prettierignore
  .prettierrc
  package-lock.json
  yarn.lock
Due: none

delete custom domain in sst.config.ts
  package-lock.json
  yarn.lock
Due: none

delete custom domain in sst.config.ts
  package-lock.json
  src/helpers/aboutus/aboutusCards.ts
Due: eslint --fix, prettier --write

add bullets color red to principal page (home)
  src/components/home/services/index.tsx
Due: none

Fix page About us
  .prettierignore
  .prettierrc
  src/app/servicios/page.tsx
  src/components/common/solutionsCenter/index.tsx
  src/components/services/hero.tsx
  src/components/services/index.ts
  src/components/services/solutionsCenter/index.tsx
  src/helpers/aboutus/aboutusCards.ts
  src/interfaces/app/IServicesPage.ts
  src/sass/components/aboutus/_carousel.scss
  src/sass/components/common/_arrowCarousel.scss
  src/sass/components/common/_solutions_center.scss
Due: eslint --fix, prettier --write

Fix card Aboutus
  src/helpers/aboutus/aboutusCards.ts
Due: eslint --fix, prettier --write

Fix styles
  src/sass/components/common/_solutions_center.scss
Due: none

Fix styles mobile
  src/sass/components/common/_solutions_center.scss
Due: none

[IS-release]: Update arn certificate aws.
  sst.config.ts
Due: none

fix about us
  src/components/common/solutionsCenter/index.tsx
  src/helpers/aboutus/aboutusCards.ts
  src/sass/components/aboutus/_carousel.scss
  src/sass/components/common/_solutions_center.scss
Due: eslint --fix, prettier --write

Feature/is 103 (#20)
  package-lock.json
  public/img/icons/white-outlined-hands.svg
  public/img/icons/white-outlined-pointer.svg
  public/img/icons/white-outlined-stars.svg
  src/app/nosotros/page.tsx
  src/app/servicios/page.tsx
  src/components/aboutus/carousel/index.tsx
  src/components/aboutus/index.ts
  src/components/aboutus/knowus/index.tsx
  src/components/cards/aboutusCard.tsx
  src/components/cards/index.ts
  src/components/common/index.ts
  src/components/common/solutionsCenter/index.tsx
  src/components/home/services/index.tsx
  src/components/index.ts
  src/components/navbar/index.tsx
  src/components/services/index.ts
  src/data/index.ts
  src/data/nosotros/index.tsx
  src/helpers/aboutus/aboutusCards.ts
  src/helpers/aboutus/index.ts
  src/interfaces/app/IAboutusPage.ts
  src/interfaces/app/IServicesPage.ts
  src/interfaces/common/ISolutionsCenter.ts
  src/sass/components/_index.scss
  src/sass/components/aboutus/_carousel.scss
  src/sass/components/aboutus/_index.scss
  src/sass/components/common/_arrowCarousel.scss
  src/sass/components/common/_solutions_center.scss
  src/sass/components/common/index.scss
  src/sass/components/services/_index.scss
  src/sass/components/services/_solutions_center.scss
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

fix about us
  src/components/aboutus/carousel/index.tsx
  src/helpers/aboutus/aboutusCards.ts
Due: eslint --fix, prettier --write

changes
  src/components/aboutus/carousel/index.tsx
  src/helpers/aboutus/aboutusCards.ts
Due: eslint --fix, prettier --write

Feature/is 103 (#21)
  src/components/aboutus/carousel/index.tsx
  src/helpers/aboutus/aboutusCards.ts
Due: eslint --fix, prettier --write

[IS-377]: Fix merge conflicts
  src/components/app/blog/comments.tsx
Due: none

new
  README.md
Due: prettier --list-different

new2
  sst.config.ts
Due: none

[DT+] deplyoy
  sst.config.ts
  yarn.lock
Due: none

[DT+] deplyoy
  package-lock.json
  sst.config.ts
  yarn.lock
Due: none

[DT+] deplyoy
  sst.config.ts
Due: none

[DT+] deploy
  sst.config.ts
Due: none
