Repository DathaPlus/landing-tribologyec: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --list-different

[DT+] deploy
  sst.config.ts
Due: none

[DT+] deploy
  src/app/page.tsx
Due: none

test delete contact
  src/app/contacto/page.tsx
Due: none

[DT+] deploy
  .github/workflows/deploy_prod.yml
Due: none

[DT+] deploy ftp
  .github/workflows/deploy_ftp.yml
  .github/workflows/deploy_prod.yml
Due: none

[DT+] deploy ftp
  .github/workflows/deploy_ftp.yml
  next.config.js
Due: none

[DT+] deploy ftp
  .github/workflows/deploy_ftp.yml
Due: none

[DT+] test
  README.md
Due: prettier --list-different

[DT+] deploy to AWS
  src/app/contacto/page.tsx
  src/app/page.tsx
  sst.config.ts
Due: none

[DT+] deploy to AWS
  src/app/page.tsx
Due: none

[DT+] deploy (#24)
  .github/workflows/deploy_prod.yml
  README.md
  package-lock.json
  sst.config.ts
  yarn.lock
Due: prettier --list-different

[DT-497] Agregar contenido en Quienes Somos
  public/img/about_us/aboutus_solution_center_desktop.png
  public/img/about_us/aboutus_solution_center_mobile.png
  public/img/hero-bg/aboutus_banner.png
  src/app/nosotros/page.tsx
  src/components/aboutus/carousel/index.tsx
  src/components/aboutus/knowus/index.tsx
  src/components/base/layout/hero.tsx
  src/components/cards/aboutusCard.tsx
  src/components/common/solutionsCenter/index.tsx
  src/data/nosotros/index.tsx
  src/interfaces/app/IAboutusPage.ts
  src/sass/components/aboutus/_carousel.scss
  src/sass/components/common/_solutions_center.scss
Due: eslint --fix, prettier --write

[DT-497] Agregar contenido en Quienes Somos
  yarn.lock
Due: none

home
  public/marcas/image1.png
  public/marcas/image2.png
  public/marcas/image3.png
  public/marcas/image4.png
  public/marcas/image5.png
  public/marcas/image6.png
  public/marcas/image7.png
  public/marcas/image8.png
  src/components/base/layout/hero.tsx
  src/components/home/hero.tsx
  src/components/home/products/Cards.ts
  src/components/home/products/index.tsx
  src/components/home/services/gridService.tsx
  src/components/home/services/index.tsx
  src/components/home/services/servicesData.ts
  src/components/home/trayectory/index.tsx
  src/sass/components/home/_hero.scss
  src/sass/components/home/_products.scss
  src/sass/components/home/_services.scss
Due: eslint --fix, prettier --write

[DT-497] Agregar contenido en Quienes Somos
  src/app/nosotros/page.tsx
  src/components/aboutus/carousel/index.tsx
  src/components/aboutus/knowus/index.tsx
Due: none

[DT-497] Agregar contenido en Quienes Somos
  src/app/nosotros/page.tsx
  src/components/aboutus/knowus/index.tsx
  src/components/common/solutionsCenter/index.tsx
Due: none

home
  package-lock.json
  package.json
  src/app/nosotros/page.tsx
  src/app/page.tsx
  src/components/aboutus/knowus/index.tsx
  src/components/common/solutionsCenter/index.tsx
  src/components/home/services/gridService.tsx
  src/components/home/services/index.tsx
  src/components/home/trayectory/index.tsx
Due: none

.
  package-lock.json
  package.json
Due: none

DT+
  src/app/nosotros/page.tsx
Due: none

[DT-497] Agregar contenido en Quienes Somos
  src/sass/components/aboutus/_carousel.scss
Due: none

[DT-497] Agregar contenido en Quienes Somos
  src/components/aboutus/carousel/index.tsx
Due: none

[DT-497] Agregar contenido en Quienes Somos (#26)
  public/img/about_us/aboutus_solution_center_desktop.png
  public/img/about_us/aboutus_solution_center_mobile.png
  public/img/hero-bg/aboutus_banner.png
  src/app/nosotros/page.tsx
  src/components/aboutus/carousel/index.tsx
  src/components/aboutus/knowus/index.tsx
  src/components/base/layout/hero.tsx
  src/components/cards/aboutusCard.tsx
  src/components/common/solutionsCenter/index.tsx
  src/data/nosotros/index.tsx
  src/interfaces/app/IAboutusPage.ts
  src/sass/components/aboutus/_carousel.scss
  src/sass/components/common/_solutions_center.scss
  yarn.lock
Due: eslint --fix, prettier --write

.
  src/data/home/project.ts
  src/sass/components/home/_projects.scss
Due: eslint --fix, prettier --write

[DT] Ajustes Nostros Dinamico
  src/app/nosotros/page.tsx
  src/components/common/solutionsCenter/index.tsx
  src/data/nosotros/index.tsx
  src/interfaces/common/ISection.ts
Due: eslint --fix, prettier --write

[DT] Ajustes Nostros Dinamico (#28)
  src/app/nosotros/page.tsx
  src/components/common/solutionsCenter/index.tsx
  src/data/nosotros/index.tsx
  src/interfaces/common/ISection.ts
Due: eslint --fix, prettier --write

[DT] Ajuste home y merge
  src/app/nosotros/page.tsx
  yarn.lock
Due: none

servicios
  public/servicios/Auditoria.png
  public/servicios/Capacitacion.png
  public/servicios/calibracion.png
  src/app/nosotros/page.tsx
  src/app/servicios/page.tsx
  src/components/base/layout/hero.tsx
  src/components/common/solutionsCenter/index.tsx
  src/components/services/ourCommitment/index.tsx
  src/components/services/ourServices/index.tsx
  src/components/services/ourServices/servicios.ts
  src/sass/components/common/_solutions_center.scss
  src/sass/components/home/_hero.scss
  src/sass/components/services/_our_commitment.scss
  src/sass/components/services/_our_services.scss
Due: eslint --fix, prettier --write

[Feature/DT-2315]: Home (#27)
  public/marcas/image1.png
  public/marcas/image2.png
  public/marcas/image3.png
  public/marcas/image4.png
  public/marcas/image5.png
  public/marcas/image6.png
  public/marcas/image7.png
  public/marcas/image8.png
  src/app/nosotros/page.tsx
  src/app/page.tsx
  src/components/aboutus/knowus/index.tsx
  src/components/home/hero.tsx
  src/components/home/products/Cards.ts
  src/components/home/products/index.tsx
  src/components/home/services/gridService.tsx
  src/components/home/services/index.tsx
  src/components/home/services/servicesData.ts
  src/components/home/trayectory/index.tsx
  src/data/home/project.ts
  src/sass/components/home/_hero.scss
  src/sass/components/home/_products.scss
  src/sass/components/home/_projects.scss
  src/sass/components/home/_services.scss
  yarn.lock
Due: eslint --fix, prettier --write

producto detallado
  yarn.lock
Due: none

contacto
  public/icon/email.png
  public/icon/email2.png
  public/icon/telefono.png
  public/icon/whasap.png
  src/components/app/contacto/assessor.tsx
  src/components/app/contacto/contactos.ts
  src/components/app/contacto/networks.tsx
  src/components/base/layout/hero.tsx
  src/components/cards/networkCard.tsx
  src/interfaces/cards/INetworkCard.ts
  src/sass/components/cards/_network-card.scss
  src/sass/components/contacto/_networks.scss
Due: eslint --fix, prettier --write

producto tabla detalle
  src/app/detalle-producto/page.tsx
  src/components/catalogue/aditionalInformation/aditionalInfo.tsx
  src/components/catalogue/relatedProducts/listRelatedProducts.ts
  src/components/catalogue/relatedProducts/relatedProducts.tsx
  src/sass/components/catalogues/_catalogue_aditional_information.scss
  src/sass/components/catalogues/_catalogue_detail_products.scss
  src/sass/components/catalogues/_catalogue_products.scss
  src/sass/components/catalogues/index.scss
Due: eslint --fix, prettier --write

producto tabla detalle
  src/components/catalogue/aditionalInformation/aditionalInfo.tsx
Due: none

Path conditions:
  eslint --fix: any of: ./src/**/*.{ts,js,json,yml,yaml}
  prettier --write: any of: ./src/**/*.{ts,js,json,yml,yaml}
  prettier --list-different: any of: *.md
