Repository DathaPlus/landing-tribologyec: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --config ./.prettierrc, prettier --list-different

.lintstagedrc:

{
  "./**/*.{ts,js,json,yml,yaml}": ["eslint --fix", "prettier --write --config ./.prettierrc"],
  "*.md": "prettier --list-different"
}

[IS-01]/feat: trayectoria 12 años
  .npmrc
  gatsby-browser.js
  gatsby-ssr.js
  package.json
  src/components/data/trayectoria/dataTrayectoria.ts
  src/components/interfaces/ITrayectoria.ts
  src/components/trayectoria/index.tsx
  src/images/icon.png
  src/pages/404.tsx
  src/pages/index.tsx
  src/styles/global.scss
  yarn-error.log
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-01]/feat: cambio gitignore
  .gitignore
  src/components/data/trayectoria/dataTrayectoria.ts
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-01]/feat: cambio gitignore
  .npmrc
  yarn-error.log
Due: none

[IS-01]/feat: trayectoria 12 años (#1)
  .gitignore
  gatsby-browser.js
  gatsby-ssr.js
  package.json
  src/components/data/trayectoria/dataTrayectoria.ts
  src/components/interfaces/ITrayectoria.ts
  src/components/trayectoria/index.tsx
  src/images/icon.png
  src/pages/404.tsx
  src/pages/index.tsx
  src/styles/global.scss
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-02]/feat: hero banner, sección y footer
  src/components/banner-hero/banner-hero.tsx
  src/components/contacto/contacto.tsx
  src/components/footer/footer.tsx
  src/css/styles.css
  src/pages/index.tsx
  static/Facebook.png
  static/Twitter.png
  static/background-contacto-desktop.png
  static/background-contacto-mobile.png
  static/banner-hero-desktop.png
  static/banner-hero-mobile.png
  static/instagram.png
  static/logo.png
Due: none

[IS-02]/feat: hero banner size
  src/components/banner-hero/banner-hero.tsx
  src/components/contacto/contacto.tsx
Due: none

[IS-97]/feat: config theme
  gatsby-browser.js
  gatsby-config.ts
  package.json
  src/components/data/trayectoria/dataTrayectoria.ts
  src/components/interfaces/ITrayectoria.ts
  src/components/trayectoria/index.tsx
  src/pages/index.tsx
  src/sass/_mixin.scss
  src/sass/_theme.scss
  src/sass/styles.scss
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-167]/feat: trayectoria ajustes
  src/components/trayectoria/index.tsx
  src/components/trayectoria/styles.ts
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-03]/feat: component tribologyec
  .npmrc
  gatsby-browser.js
  package-lock.json
  package.json
  src/components/contacto/contacto.tsx
  src/components/contacto/style.ts
  src/components/form/field.tsx
  src/components/form/index.tsx
  src/components/form/style.ts
  src/components/header/index.tsx
  src/components/header/style.ts
  src/components/navbar/index.tsx
  src/components/navbar/style.ts
  src/pages/index.tsx
  src/validation/validations.ts
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-03]/feat: component tribologyec
  src/components/banner-hero/banner-hero.tsx
  src/components/banner-hero/style.ts
  src/components/footer/footer.tsx
  src/components/footer/style.ts
  src/components/form/style.ts
  src/components/header/index.tsx
  src/components/header/style.ts
  src/pages/index.tsx
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-170]/feat: component tribologyec
  src/components/form/index.tsx
Due: none

[IS-167]/feat: workflows
  .github/__workflow/deploy-ftp.yml
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-167]/feat: trayectory home
  src/components/home/services/testimonial.tsx
  src/components/home/trayectory/index.tsx
  src/components/trayectoria/index.tsx
  src/components/trayectoria/styles.ts
  src/data/home/trayectory.ts
  src/pages/index.tsx
  src/sass/components/home/_index.scss
  src/sass/components/home/_trayectory.scss
  static/img/logos/3arm.svg
  static/img/logos/gedore.svg
  static/img/logos/momento.svg
  static/img/logos/norbar.svg
  static/img/logos/nord-lock.svg
  static/img/logos/sturtevant.svg
  static/img/logos/teltonika.svg
Due: eslint --fix, prettier --write --config ./.prettierrc

[AT-140]/feat: add new module for desktop and mobile in home solutions center
  src/components/home/index.ts
  src/components/home/solutionsCenter/index.tsx
  src/pages/index.tsx
  src/sass/components/home/_index.scss
  src/sass/components/home/_solutions_center.scss
  static/img/projects/project_5.png
  static/img/projects/project_5_mobile.png
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-167]/feat: actions
  .github/workflow/deploy-dev.yml
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-167] Banner Trayectoria (#7)
  .github/workflow/deploy-dev.yml
  src/components/home/services/testimonial.tsx
  src/components/home/trayectory/index.tsx
  src/data/home/trayectory.ts
  src/pages/index.tsx
  src/sass/components/home/_index.scss
  src/sass/components/home/_trayectory.scss
  static/img/logos/3arm.svg
  static/img/logos/gedore.svg
  static/img/logos/momento.svg
  static/img/logos/norbar.svg
  static/img/logos/nord-lock.svg
  static/img/logos/sturtevant.svg
  static/img/logos/teltonika.svg
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-01]/fix: migracion sass contacto
  .github/workflow/deploy-dev.yml
  .husky/pre-commit
  .lintstagedrc
  README.md
  gatsby-browser.js
  gatsby-config.ts
  gatsby-ssr.js
  package-lock.json
  package.json
  src/components/contact/field.tsx
  src/components/contact/index.tsx
  src/components/home/trayectory/index.tsx
  src/components/index.ts
  src/data/contact/index.ts
  src/data/index.ts
  src/interfaces/field.ts
  src/pages/index.tsx
  src/sass/components/_index.scss
  src/sass/components/contact.scss
  src/sass/components/home/_trayectory.scss
  src/validation/contact.ts
  src/validation/index.ts
  static/img/contact_bg-mobile.png
  static/img/contact_bg.png
  static/img/logos/3arm.svg
  static/img/logos/gedore.svg
  static/img/logos/momento.svg
  static/img/logos/norbar.svg
  static/img/logos/nord-lock.svg
  static/img/logos/sturtevant.svg
  static/img/logos/teltonika.svg
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc, prettier --list-different

[IS-01]/feat: trayectoria 12 años navbar
  src/components/Bar/index.tsx
  src/pages/index.tsx
  src/sass/components/home/_bar.scss
  src/sass/components/home/_index.scss
  static/img/logos/mail.svg
  static/img/logos/phone.svg
  static/img/vector.png
Due: none

[temp-Daniel]/feat: bar top
  src/sass/components/home/_bar.scss
Due: none

Banner Superior Informativo. Trayectoria(#10)
  .github/workflow/deploy-dev.yml
  .husky/pre-commit
  .lintstagedrc
  README.md
  gatsby-browser.js
  gatsby-config.ts
  gatsby-ssr.js
  package-lock.json
  package.json
  src/components/Bar/index.tsx
  src/components/contact/field.tsx
  src/components/contact/index.tsx
  src/components/home/trayectory/index.tsx
  src/components/index.ts
  src/data/contact/index.ts
  src/data/index.ts
  src/interfaces/field.ts
  src/pages/index.tsx
  src/sass/components/_index.scss
  src/sass/components/contact.scss
  src/sass/components/home/_bar.scss
  src/sass/components/home/_index.scss
  src/sass/components/home/_trayectory.scss
  src/validation/contact.ts
  src/validation/index.ts
  static/img/contact_bg-mobile.png
  static/img/contact_bg.png
  static/img/logos/3arm.svg
  static/img/logos/gedore.svg
  static/img/logos/mail.svg
  static/img/logos/momento.svg
  static/img/logos/norbar.svg
  static/img/logos/nord-lock.svg
  static/img/logos/phone.svg
  static/img/logos/sturtevant.svg
  static/img/logos/teltonika.svg
  static/img/vector.png
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write --config ./.prettierrc, prettier --list-different

[IS-97]/feat: migración componentes a sass
  .husky/pre-commit
  .lintstagedrc
  src/components/Bar/index.tsx
  src/components/contact/field.tsx
  src/components/contact/index.tsx
  src/components/footer.tsx
  src/components/home/trayectory/index.tsx
  src/components/index.ts
  src/components/navbar/index.tsx
  src/pages/index.tsx
  src/sass/components/_footer.scss
  src/sass/components/_index.scss
  src/sass/components/_navbar.scss
  src/sass/components/contact.scss
  src/sass/components/home/_bar.scss
  src/sass/components/home/_trayectory.scss
  src/sass/styles.scss
  static/img/logos/3arm.svg
  static/img/logos/gedore.svg
  static/img/logos/logo.svg
  static/img/logos/logo2.svg
  static/img/logos/mail.svg
  static/img/logos/momento.svg
  static/img/logos/norbar.svg
  static/img/logos/nord-lock.svg
  static/img/logos/phone.svg
  static/img/logos/sturtevant.svg
  static/img/logos/teltonika.svg
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-97]/feat: linter
  .lintstagedrc
Due: none

[IS-97] Migración (#11)
  .husky/pre-commit
  .lintstagedrc
  src/components/Bar/index.tsx
  src/components/contact/field.tsx
  src/components/contact/index.tsx
  src/components/footer.tsx
  src/components/home/trayectory/index.tsx
  src/components/index.ts
  src/components/navbar/index.tsx
  src/pages/index.tsx
  src/sass/components/_footer.scss
  src/sass/components/_index.scss
  src/sass/components/_navbar.scss
  src/sass/components/contact.scss
  src/sass/components/home/_bar.scss
  src/sass/components/home/_trayectory.scss
  src/sass/styles.scss
  static/img/logos/3arm.svg
  static/img/logos/gedore.svg
  static/img/logos/logo.svg
  static/img/logos/logo2.svg
  static/img/logos/mail.svg
  static/img/logos/momento.svg
  static/img/logos/norbar.svg
  static/img/logos/nord-lock.svg
  static/img/logos/phone.svg
  static/img/logos/sturtevant.svg
  static/img/logos/teltonika.svg
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-231] CD/CI + AWS + Github Actions
  .github/workflow/deploy-dev.yml
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-231] CD/CI + AWS + Github Actions
  .github/workflows/deploy-dev.yml
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-231] CD/CI + AWS + Github Actions
  package-lock.json
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-231] CD/CI + AWS + Github Actions (#12)
  .github/workflow/deploy-dev.yml
  .github/workflows/deploy-dev.yml
  package-lock.json
Due: eslint --fix, prettier --write --config ./.prettierrc

[AT-140]/feat: add new module for desktop and mobile in home solutions center (#8)
  src/components/home/index.ts
  src/components/home/solutionsCenter/index.tsx
  src/pages/index.tsx
  src/sass/components/home/_index.scss
  src/sass/components/home/_solutions_center.scss
  static/img/projects/project_5.png
  static/img/projects/project_5_mobile.png
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-99] Desarrollo servicios
  src/components/home/index.ts
  src/components/index.ts
  src/components/services/hero.tsx
  src/components/services/index.ts
  src/components/services/ourCommitment/index.tsx
  src/components/services/ourServices/card.tsx
  src/components/services/ourServices/index.tsx
  src/components/services/solutionsCenter/index.tsx
  src/data/services/services.ts
  src/helpers/services/index.ts
  src/helpers/services/services.ts
  src/interfaces/services.ts
  src/pages/index.tsx
  src/pages/servicios.tsx
  src/sass/components/_index.scss
  src/sass/components/home/_index.scss
  src/sass/components/services/_index.scss
  src/sass/components/services/_our_commitment.scss
  src/sass/components/services/_our_services.scss
  src/sass/components/services/_solutions_center.scss
  static/img/commitment/commitment_1.png
  static/img/commitment/commitment_2.png
  static/img/commitment/commitment_3.png
  static/img/commitment/commitment_banner.png
  static/img/logos/3arm.svg
  static/img/logos/gedore.svg
  static/img/logos/momento.svg
  static/img/logos/norbar.svg
  static/img/logos/nord-lock.svg
  static/img/logos/sturtevant.svg
  static/img/logos/teltonika.svg
Due: eslint --fix, prettier --write --config ./.prettierrc

[IS-99] Desarrollo servicios (#13)
  src/components/home/index.ts
  src/components/index.ts
  src/components/services/hero.tsx
  src/components/services/index.ts
  src/components/services/ourCommitment/index.tsx
  src/components/services/ourServices/card.tsx
  src/components/services/ourServices/index.tsx
  src/components/services/solutionsCenter/index.tsx
  src/data/services/services.ts
  src/helpers/services/index.ts
  src/helpers/services/services.ts
  src/interfaces/services.ts
  src/pages/index.tsx
  src/pages/servicios.tsx
  src/sass/components/_index.scss
  src/sass/components/home/_index.scss
  src/sass/components/services/_index.scss
  src/sass/components/services/_our_commitment.scss
  src/sass/components/services/_our_services.scss
  src/sass/components/services/_solutions_center.scss
  static/img/commitment/commitment_1.png
  static/img/commitment/commitment_2.png
  static/img/commitment/commitment_3.png
  static/img/commitment/commitment_banner.png
  static/img/logos/3arm.svg
  static/img/logos/gedore.svg
  static/img/logos/momento.svg
  static/img/logos/norbar.svg
  static/img/logos/nord-lock.svg
  static/img/logos/sturtevant.svg
  static/img/logos/teltonika.svg
Due: eslint --fix, prettier --write --config ./.prettierrc

[DT-updateHome]: add new images and texts
  .github/workflows/deploy_prod.yml
Due: eslint --fix, prettier --write --config ./.prettierrc

[DT-updateHome]: update redirect servicios
  src/components/navbar/index.tsx
Due: none
